# Build artifacts
build/
*.mv
*.json

# Move language files
.move/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

.trace

#iota 
iota
iota-data-ingestion
iota-faucet
iota-graphql-rpc
iota-indexer
iota-node
iota-v1.18.1.tgz
move-analyzer
iota-tool


# Logs
*.log

# Environment
.env
.env.local


skills/

# Dependencies
node_modules/

move-cmtat-threat-model.md

.cursorignore
.claude 
.opencode/
.swp

run-interact.sh

dist/

node_modules/